/****** Скрипт для команды SelectTopNRows из среды SSMS  ******/
SELECT TOP (1000) [klient_name]
      ,[klient_address]
      ,[klient_phone]
      ,[klient_email]
  FROM [Столярова Елизавета 3824 задание].[dbo].[Klients]