/****** Скрипт для команды SelectTopNRows из среды SSMS  ******/
SELECT TOP (1000) [cust_id]
      ,[cust_name]
      ,[cust_address]
      ,[cust_city]
      ,[cust_state]
      ,[cust_zip]
      ,[cust_country]
      ,[cust_contact]
      ,[cust_email]
  FROM [Столярова Лиза 3824].[dbo].[Customers]